{%extends 'central/base_site.html'%}
{% load  i18n %}
{%block extrastyle%}
  {{block.super}}
	<link rel="stylesheet" type="text/css" href="/media/css/forms.css" />
  {{form.media}}
{%endblock%}
{%block extrahead%}
	<script type="text/javascript">
		var attachment_index = 1;
		$(document).ready(function(){
			$("#attach").click(function(){
				if($("#attachment").attr("style") == "display:none"){
					$("#attachment").show();	
				}else{
				$("#attachment").append('<p><label for="id_form-' + attachment_index + '-attachment_file">上传附件:</label> <input type="file" name="form-' + attachment_index + '-attachment_file" id="id_form-' + attachment_index + '-attachment_file" /></p>');					
					attachment_index++;
					$("#form_total").val(attachment_index);
				}	
			});		
		});
	</script>

{%endblock%}

{%block breadcrumbs%}
<div class="breadcrumbs">
      <a href="../../../../">
      {% trans "Home" %}
    </a>
     &rsaquo; 
     <a href="../../../">
       workflow
    </a>
    &rsaquo; 
    发起工单
  </div>
{%endblock%}
{% block content_title %}<h1>发起工单</h1>{% endblock %}
{%block content%}
<div id="content-main" class="content_main">
	<form method="POST" action="" enctype="multipart/form-data">

		{%block process_info%}
		<div class="form_div">
			<h2>流程信息</h2>
			<table class="form_table">
				<tr>
					<th width="15%">
						<label for="id_{{process_form.process_title.name}}" class="required">{{process_form.process_title.label}}</label>
					</th>
					<td>
						{%if process_form.process_title.errors%}
							<ul class="errorlist">
							  {%for error in process_form.process_title.errors%}
							  <li>{{error}}</li>
							  {%endfor%}
							</ul>
						{%endif%}
						{{process_form.process_title}}
					</td>
				</tr>	
				<tr>
					<th width="15%"><label for="id_{{process_form.process_description.name}}">{{process_form.process_description.label}}</label></th>
					<td>
						{{process_form.process_description}}
					</td>
				</tr>
				<tr>
					<th>附件</th>
					<td>
					<a href="#" id="attach">添加附件</a>
					<input type="hidden" id="form_total" name="form-TOTAL_FORMS" value="1"/>
					<input type="hidden" name="form-INITIAL_FORMS" value="1"/>
				
					<div id="attachment" style="display:none">
					{%for form in attachment_formset.forms%}
					{{form.as_p}}
					{%endfor%}	
					</div>
					</td>
				</tr>
			</table>
		</div>
		{%endblock%}

		{%block process_form%}
		{%if form%}
		<div class="form_div">
		<h2>表单信息</h2>
		{%include 'workflow/form_fields.html'%}
		</div>
		{%endif%}
		{%endblock%}

		<div class="submit-row" >
			<input type="submit" value="提交工单" />
		</div>

	</form>
</div>
{%endblock%}
